USE [ozerki_db]
GO
/****** Object:  Table [dbo].[Diagnoses]    Script Date: 04.06.2026 0:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnoses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormRealeses]    Script Date: 04.06.2026 0:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormRealeses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 04.06.2026 0:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medications]    Script Date: 04.06.2026 0:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicationNameId] [int] NOT NULL,
	[DiagnosisId] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[FormRealeseId] [int] NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[Discount] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicationsName]    Script Date: 04.06.2026 0:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationsName](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diagnoses] ON 

INSERT [dbo].[Diagnoses] ([Id], [Name]) VALUES (1, N'Кашель')
INSERT [dbo].[Diagnoses] ([Id], [Name]) VALUES (2, N'Насморк')
INSERT [dbo].[Diagnoses] ([Id], [Name]) VALUES (3, N'Температура')
SET IDENTITY_INSERT [dbo].[Diagnoses] OFF
GO
SET IDENTITY_INSERT [dbo].[FormRealeses] ON 

INSERT [dbo].[FormRealeses] ([Id], [Name]) VALUES (1, N'Спрей')
INSERT [dbo].[FormRealeses] ([Id], [Name]) VALUES (2, N'Таблетки')
INSERT [dbo].[FormRealeses] ([Id], [Name]) VALUES (3, N'Сироп')
SET IDENTITY_INSERT [dbo].[FormRealeses] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (1, N'Pergetto Sport')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (2, N'ROMANA Next')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (3, N'MobyKids')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[Medications] ON 

INSERT [dbo].[Medications] ([Id], [MedicationNameId], [DiagnosisId], [ManufacturerId], [FormRealeseId], [Cost], [Discount], [Description], [Photo], [Count]) VALUES (1, 1, 1, 1, 1, CAST(900.00 AS Decimal(18, 2)), 1, N'Крутое средство', N'image1.png', 2)
INSERT [dbo].[Medications] ([Id], [MedicationNameId], [DiagnosisId], [ManufacturerId], [FormRealeseId], [Cost], [Discount], [Description], [Photo], [Count]) VALUES (4, 2, 2, 2, 2, CAST(350.00 AS Decimal(18, 2)), 10, N'Хорошее средство покупайте ребята', N'image2.png', 45)
INSERT [dbo].[Medications] ([Id], [MedicationNameId], [DiagnosisId], [ManufacturerId], [FormRealeseId], [Cost], [Discount], [Description], [Photo], [Count]) VALUES (7, 3, 3, 3, 3, CAST(500.00 AS Decimal(18, 2)), 4, N'Такое себе. Но попробовать можно', N'image3.png', 23)
SET IDENTITY_INSERT [dbo].[Medications] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicationsName] ON 

INSERT [dbo].[MedicationsName] ([Id], [Name]) VALUES (1, N'Стрепсилс')
INSERT [dbo].[MedicationsName] ([Id], [Name]) VALUES (2, N'Фарионорм')
INSERT [dbo].[MedicationsName] ([Id], [Name]) VALUES (3, N'Гексорал')
SET IDENTITY_INSERT [dbo].[MedicationsName] OFF
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [FK_Medications_Diagnoses] FOREIGN KEY([DiagnosisId])
REFERENCES [dbo].[Diagnoses] ([Id])
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [FK_Medications_Diagnoses]
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [FK_Medications_FormRealeses] FOREIGN KEY([FormRealeseId])
REFERENCES [dbo].[FormRealeses] ([Id])
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [FK_Medications_FormRealeses]
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [FK_Medications_Manufacturers] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([Id])
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [FK_Medications_Manufacturers]
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [FK_Medications_MedicationsName] FOREIGN KEY([MedicationNameId])
REFERENCES [dbo].[MedicationsName] ([Id])
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [FK_Medications_MedicationsName]
GO
