USE [Playerok]
GO
/****** Object:  Table [dbo].[CetagoriesGames]    Script Date: 04.06.2026 0:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CetagoriesGames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevelopersGames]    Script Date: 04.06.2026 0:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevelopersGames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 04.06.2026 0:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameGameId] [int] NOT NULL,
	[CatygoryGameId] [int] NOT NULL,
	[DeveloperGameId] [int] NOT NULL,
	[Cost] [decimal](18, 2) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NamesGames]    Script Date: 04.06.2026 0:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamesGames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CetagoriesGames] ON 

INSERT [dbo].[CetagoriesGames] ([Id], [Name]) VALUES (1, N'Battle Royale')
INSERT [dbo].[CetagoriesGames] ([Id], [Name]) VALUES (2, N'Casual')
INSERT [dbo].[CetagoriesGames] ([Id], [Name]) VALUES (3, N'MOBA')
SET IDENTITY_INSERT [dbo].[CetagoriesGames] OFF
GO
SET IDENTITY_INSERT [dbo].[DevelopersGames] ON 

INSERT [dbo].[DevelopersGames] ([Id], [Name]) VALUES (1, N'Epic Games')
INSERT [dbo].[DevelopersGames] ([Id], [Name]) VALUES (2, N'Infinity Ward')
INSERT [dbo].[DevelopersGames] ([Id], [Name]) VALUES (3, N'Moba')
SET IDENTITY_INSERT [dbo].[DevelopersGames] OFF
GO
SET IDENTITY_INSERT [dbo].[Games] ON 

INSERT [dbo].[Games] ([Id], [NameGameId], [CatygoryGameId], [DeveloperGameId], [Cost], [Description], [Photo]) VALUES (1, 1, 1, 1, CAST(1200.00 AS Decimal(18, 2)), N'Крутая игра', N'fortnite.png')
INSERT [dbo].[Games] ([Id], [NameGameId], [CatygoryGameId], [DeveloperGameId], [Cost], [Description], [Photo]) VALUES (5, 2, 2, 2, CAST(0.00 AS Decimal(18, 2)), N'Ну нормик', N'callofduty.png')
INSERT [dbo].[Games] ([Id], [NameGameId], [CatygoryGameId], [DeveloperGameId], [Cost], [Description], [Photo]) VALUES (13, 3, 3, 3, CAST(2000.00 AS Decimal(18, 2)), N'Пойдет', N'leagueoflegends.png')
SET IDENTITY_INSERT [dbo].[Games] OFF
GO
SET IDENTITY_INSERT [dbo].[NamesGames] ON 

INSERT [dbo].[NamesGames] ([Id], [Name]) VALUES (1, N'Fortnite')
INSERT [dbo].[NamesGames] ([Id], [Name]) VALUES (2, N'Call Of Duty')
INSERT [dbo].[NamesGames] ([Id], [Name]) VALUES (3, N'League Of Legends')
SET IDENTITY_INSERT [dbo].[NamesGames] OFF
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_CetagoriesGames] FOREIGN KEY([CatygoryGameId])
REFERENCES [dbo].[CetagoriesGames] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_CetagoriesGames]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_DevelopersGames] FOREIGN KEY([DeveloperGameId])
REFERENCES [dbo].[DevelopersGames] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_DevelopersGames]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_NamesGames] FOREIGN KEY([NameGameId])
REFERENCES [dbo].[NamesGames] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_NamesGames]
GO
